@model OnlineStore.Models.ProductsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>
<form action="/Products/Index" method="Get">
    <a href="/Products/Create" class="btn btn-primary">Add Product</a>
    <a href="/Products/AddManufacture" class="btn btn-primary">Add Manufacture</a>
    <a href="/Products/AddCategory" class="btn btn-primary">Add Category</a><br />
    @Html.Label("Category", htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.DropDownList("CategoryId", ViewBag.Category as SelectList, "", new { @class = "form-control text-box single-line" })
    <button class="btn btn-success " style="margin-left:4px">Filter</button>
</form>
   

@foreach (var item in Model.Products)
{
    @Html.Partial("_ProductsList", item);
}
